<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" style="color: black">
        {% csrf_token %}
        productname<input type="text" name="productname" /><br>
        discription<input type="text" name="discription" /><br>
        price<input type="number" name="price" /><br>
        <input type="submit" value="Add product" />
    </form>
    

</body>
</html>